[Desktop Entry]
Name=Xsnow
Comment=Snow Snow Everywhere...
Comment[es]=Nieve, nieve en todo lugar...
Comment[pl]=Pada, pada Śnieg...
Comment[pt]=Neve, neve em todo lugar...
Comment[pt_BR]=Neve, neve em todo lugar...
Icon=xsnow.png
Exec=xsnow
Terminal=0
Type=Application
# vi: encoding=utf-8
